xapian-core/indexer/indexgraph/test.dtd

<!ELEMENT omindexer (node+, output)>
<!ELEMENT node (param*, input*)>
<!ELEMENT output EMPTY>
<!ELEMENT input EMPTY>

<!ATTLIST omindexer>
<!ATTLIST node
          type CDATA #REQUIRED
	  id   ID    #REQUIRED>
<!ATTLIST output
          node IDREF #REQUIRED>
<!ATTLIST input
	  name CDATA "in"
          node IDREF #REQUIRED
	  out_name CDATA "out">
<!ATTLIST param
	  name CDATA #REQUIRED
	  value CDATA #REQUIRED>
